.rightbar {
    flex: 3.5;
}

.rightbarWrapper {
    padding: 20px 20px 0 0;
}

.birthdayContainer {
    display: flex;
    align-items: center;
}

.birthdayImg {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.birthdayText {
    font-weight: 300;
    font-size: 15px;
}

.rightbarAD {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}

.rightbarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.rightBarFriend {
    display: flex;
    align-items: center;
}

.rightbarProfileImgContainer {
    margin-right: 10px;
    position: relative;
}

.rightbarProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.rightbarTitle {
    margin-bottom: 10px;
}

.rightbarOnline {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: lightgreen;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;
}